<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titulofilme}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Procure seus filmes aqui"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let filme of listaVideos">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img name="cartaz" [src]="filme.cartaz" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div class="descricao_informacoes_filmes">
            <h1 name="nome">{{filme.nome}}</h1>
            <p name="lancamento">{{filme.lancamento}}</p>
            <p name="duracao">{{filme.duracao}}</p>

            <ion-badge color="light" *ngFor="let genero of filme.generos">
              {{genero}}
            </ion-badge>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label name="classificacao">{{filme.classificacao}}%</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="orange" (click)="exibirALERTA()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hES2eVAbVt08JJTqgu3jmI34Yxx.jpg"
          />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div class="descricao_informacoes_filmes">
            <h1 name="nome">Megalodon</h1>
            <p name="lancamento">00/00/2018 -(BR)</p>
            <p name="duracao">1h 26m</p>
            <p name="generos">Ação, Ficção científica, Terror, Cinema TV</p>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>90%</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="orange" (click)="exibirALERTA()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>
</ion-content>
